*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    place-items: center;
    
}

.container {
    display: grid;
    width: 500px;
    height: 400px;
    background-color: darkred;
    grid-template-areas: 'header header header header'
                        'icons left-side main right-side'
                        'footer footer footer footer';
    grid-template-columns: 40px 1fr 3fr 1fr;
    grid-template-rows: 40px 1fr 50px;

}
.header{
    grid-area: header;
    background-color:cadetblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    place-content: center;
    

}


.header .box:nth-of-type(1){
  
    background-color: chartreuse;
}

.header .box:nth-of-type(3){
    background-color:crimson;
}

.header .box:nth-of-type(4){
  
    background-color: chartreuse;
}

.header.box:nth-of-type(6){
    background-color:crimson;
}




.icons{
    grid-area: icons;
    background-color: darkgoldenrod;
}

.left-side{
    grid-area: left-side;
    background-color: darkgray;
}

.right-side{
    grid-area: right-side;
    background-color: darkkhaki;
}
.main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    justify-content: space-evenly;
    place-items: center;
}

.main >p:nth-of-type(1){
    background-color: antiquewhite;
}
.footer{
    grid-area: footer;
    background-color: darksalmon;
}



 @media (max-width: 468px) {
    .container {
        width: 100%;
        height: 100%;
  
    }
} 
